@media only screen and (max-width: 600px) {

body {margin:0;width:99vw;overflow-x:hidden!important; position:relative;}

#wrapper{width:100%; margin-left:0;}

.buttons{margin-left:0.5em;margin-top:0.8vh;margin-bottom:1vh;width:100%;display:inline-block;}

.filterbutton{margin-bottom:0.5em;border:none;font-size:1em;font-family:myFont;background-color:transparent;color:#000;}
.filterbutton:focus {outline:0;color:#000;}
.filterbutton:hover {cursor:pointer;filter: drop-shadow(0 0 0 #fff);color:#000;}
.filterbutton.active {outline:0;filter: drop-shadow(0 0 0.75rem #FF00FF);color:#000;}

.homeTrigger {border:none;font-size:1em;font-family:myFont;/*margin-right:1em;*/margin-top:1em;background-color:transparent;color:#000;}
.homeTrigger:focus {outline:0;color:#000;}
.homeTrigger:hover {cursor:pointer;filter: drop-shadow(0 0 0 #fff);color:#000;}
.homeTrigger.active {outline:0;filter: drop-shadow(0 0 0.75rem #FF00FF);color:#000;}


.index{position: relative;visibility: hidden;opacity: 0;display: none;}
.index.active{position: relative;visibility: visible;opacity: 1;z-index: 1;pointer-events: all;display: block;}


.homeView{position: relative;visibility: hidden;opacity: 0;display: none;}
.homeView.active{position: relative;visibility: visible;opacity: 1;z-index: 1;pointer-events: all;display: block;}

a{text-decoration:none; color:#000;}

a:hover{
  filter: drop-shadow(0 0 0 #fff);
}

.link-project a{
  width:50%;
}
.link-project{
  position: relative;
  display: block;
}

.link-project:hover{
  position: relative;
}

.link-project p{
  opacity: 1;
  transition: opacity .25s;
}
.link-project img{
  opacity: 1;
  transition: opacity .25s;
}


.project-intro{
  width:95%;
  height:100%;
  margin:0 auto;
  display:block;
  margin-left:1em;
}

.project-img{
  display:block;
  width:100%; 
  margin:auto;
  object-fit: cover;
  z-index: 0;
  position: relative;
}

.project-caption{
  margin: 0;
  padding: 0em;
  padding-top: 0em;
  width: 40vw;
  height:20vw;
  font-family: myFont;
  font-size: 0.8em;
  line-height: 1.3;
  text-align: left;
  position: absolute;
  top: 9vh;
  color: #000;
  left: 5vw;
  background: #fff;
  opacity: 1;
  padding: 2vw;
  z-index: 2;
  overflow:scroll;
}

.info-container{
  display: inline-block;
}

.smile{
 font-family:myFontKobe;
}

.about-me{
  display:inline-block;
  margin:0;
  margin-left:0.5em;
  padding:0.5em;
  padding-top:1em;
  width:80vw;
  font-family:myFont;
  font-size:1em;
  line-height:1.6;
  text-align:left;
}

.links{
  display:inline-block;
  margin:0;
  margin-left:0.5em;
  padding:0.5em;
  padding-top:1em;
  width:auto;
  font-family:myFont;
  font-size:1em;
  line-height:1.6;
  text-align:left;
  display:inline-block;
  position: relative;
  z-index: 100;
  background-color: #fff;
  opacity: 1;
  border-radius: 100%;
  padding: 1vw;
  right: 2vw;
  left: auto;
}

.links:hover{
  cursor:pointer;  
}

.contact{color:#000;z-index:101;opacity: 1; margin-left:0.5em;}

.contact:hover{
  filter: drop-shadow(0 0 0.75rem #FF00FF);
}

.exhibitons{
  display:inline-block;
  margin:0;
  margin-left:0.5em;
  padding:0.5em;
  padding-top:1em;
  width:80vw;
  font-family:myFont;
  font-size:1em;
  line-height:1.6;
  text-align:left;
  word-spacing:3px;
  padding-left: 2em;
  text-indent:-1.5em;
}


.img-grid {
  display: flex;
  flex-wrap: wrap;
  z-index:100;
  width: 100%;
}


.box {
  position: relative;
  width: 100%;
  height: calc(114 * (100vw) / 176);
  margin-left: 3.5vw;
  margin-bottom: 4em;
  text-decoration: none;
  color: #000;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: top;
  opacity: 0;
  transition: opacity .25s;
  display: inline-block;
}

.box:hover {
  cursor:pointer;
  filter: drop-shadow(0 0 0 #fff);
}


.box:after {
  position: absolute;
  top: 100%; left: 0;
  line-height:1.2;
  font-size:0.9em;
  font-family:myFont;
  content: attr(data-caption);
  display: inline-block;
  word-spacing:1px;
  margin-left: 0em;
  height:16%;
}


.box:hover:after{
filter: drop-shadow(0 0 0 #fff);
}


.copyrights{
  position: absolute;
  display:block;
  width: 100%;
  font-family:myFont;
  font-size:0.6em;
  line-height:1.2;
  margin-top:0.5em;
  padding-top:0.5em;
  margin-left:1.5em;
  padding-bottom:0.7em;
  margin-bottom:0.7em;
}
}